$theme-colors: (
        primary: #c0392b,
        secondary: #95a5a6,
        success: #27ae60,
        info: #2980b9,
        warning: #f1c40f,
        danger: #e74c3c,
        light: #ecf0f1,
        dark: #7f8c8d
);
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
$enable-shadows: true;
$font-size-base: 1.1rem;
$font-size-lg: 1.3rem;
$font-size-sm: 1rem;
$navbar-padding-y: 1.2rem;

@import '~bootstrap/scss/bootstrap.scss';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import '~ryoko-headers/scss/ryoko.scss';
@import '~hella-hero/scss/index.scss';
@import 'page';
