---
layout: page
title: Band
---


<div class="ryoko ryoko-50" id="album"
     style="background-image: url('https://images.unsplash.com/photo-1464375117522-1311d6a5b81f?dpr=1&auto=compress,format&fit=crop&w=1400&h=800&q=80&cs=tinysrgb&crop=')">
    <div class="ryoko-shade ryoko-body py-3">
        <div class="text-center text-white">
            <h2>This is a page of an awesome band!</h2>
            <p>
                Photo by <a href="https://unsplash.com/photos/gioH4gHo0-g?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Marcus Neto</a> on
                <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </p>
        </div>
    </div>
</div>
{% include parts/top.html %}

<div class="container">
    <h2>Tour</h2>
    <p>See our upcomming tour, tourdates are connected on <a href="http://bandsintown.com/">Bandsintown</a>.</p>
    <tour-component></tour-component>
</div>

{% include parts/top.html %}
