---
layout: page
title: Restaurant
---


<div class="ryoko ryoko-50" id="album"
     style="background-image: url('https://images.unsplash.com/photo-1495709162665-628e115576f6?dpr=1&auto=compress,format&fit=crop&w=1400&h=800&q=80&cs=tinysrgb&crop=')">
    <div class="ryoko-shade ryoko-body py-3">
        <div class="text-center text-white">
            <h2>This is a restaurant page</h2>
            <p>
                Photo by <a href="https://unsplash.com/photos/twR54xVerrI?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dominic Dreier</a>
                on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </p>
        </div>
    </div>
</div>
{% include parts/top.html %}

<div class="container">
    <h2>Tour</h2>
    <p>See our upcomming tour</p>
    <sheet-component></sheet-component>
</div>
{% include parts/top.html %}
